$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

// Color
$primary: #99999a;
$secondary: #4a4a4b;
$bg-color: #c4c4c5;
$dark-text: #272728;
$light-text: #717172;
